.card {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  padding: $contentPadding/2;

  &__img {
    padding: $contentPadding/2;
    height: 200px;
    object-fit: cover;
  }
  &__headingWrapper {
    display: flex;
    justify-content: space-between;
    padding: $contentPadding/2;
  }
  &__headline {
    letter-spacing: 1px;
    color: $secondary;
  }

  &__price {
    color: $white;
    border: 1px solid $gray;
    padding: 4px;
    background-color: $primary;
  }
  &__description {
    padding: $contentPadding/2;
  }
  &__admin {
    padding: $contentPadding/2;
    display: flex;
    justify-content: space-between;
  }
  &__edit {
    color: $secondary;
    font-weight: bolder;
    font-size: 1rem;
    &:hover {
      color: $secondary-lite;
      transition: 300ms;
    }
  }
  &__delete {
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    color: $red;
    font-weight: bolder;
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) {
  .card {
    &__container {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .card {
    &__container {
      width: 25%;
    }
  }
}
