.emptyCart {
  padding: $contentPadding;
  box-shadow: $bordershadow;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &__icon {
    font-size: 3rem;
    color: $secondary;
  }
  &__heading {
    padding: $contentPadding;
  }
  &__link {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: $contentPadding/2;
    background-color: $primary;
    color: $white;
    border-radius: 5px;
    border: 0px;
    &:hover {
      background-color: $primary-dark;
    }
  }
}
