.featured {
  &__heading {
    padding: $contentPadding/2;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  &__link {
    padding: $contentPadding;
    background-color: $primary;
    display: flex;
    align-items: center;
    color: $white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $contentPadding * 3;
    margin-top: $contentPadding * 2;
  }
  &__link:hover {
    background-color: $primary-dark;
    transition: 300ms;
  }
  &__icon {
    margin-right: 8px;
    margin-left: 6px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 500px) {
  .featured {
    &__card {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .featured {
    &__card {
      width: 25%;
    }
  }
}
