.login {
  padding: $contentPadding/2;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $contentPadding/2;
  }
  &__heading {
    padding: $contentPadding/2;
  }
  &__icon {
    font-size: 3rem;
    color: $primary;
  }
}

@media screen and (min-width: 550px) {
  .login {
    box-shadow: $bordershadow;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $contentPadding * 2;
  }
}
