@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

// getting footer to stick to bottom -- start

body {
  margin: 0;
}

img {
  width: 100%;
}

p {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: auto;
}

.content {
  min-height: 100vh;
}

header {
  background-color: black;
}

// getting footer to stick to bottom -- end
